# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Environment variables
.env

# Logs
logs/
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Firebase credentials (if using Firebase Admin SDK)
firebase_credentials.json

sentiment_data/